GifPlayerRPI3/mplayer.json
[{"id":"9c7aaafd.45be18","type":"inject","z":"45315c0c.cfcdb4","name":"ALL MP4","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":78.19999694824219,"y":277.6000518798828,"wires":[["a9ae374e.483048"]]},{"id":"a9ae374e.483048","type":"exec","z":"45315c0c.cfcdb4","command":"sudo SDL_VIDEODRIVER=fbcon SDL_FBDEV=/dev/fb1 mplayer -loop 0 -shuffle -vo sdl /home/pi/DEV/fails/*.mp4","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":564.6999664306641,"y":286.1000213623047,"wires":[["22592819.446548"],[],[]]},{"id":"22592819.446548","type":"debug","z":"45315c0c.cfcdb4","name":"","active":true,"console":"false","complete":"false","x":957.7000427246094,"y":344.8000183105469,"wires":[]},{"id":"fc77f2d4.dea68","type":"exec","z":"45315c0c.cfcdb4","command":"sudo SDL_VIDEODRIVER=fbcon SDL_FBDEV=/dev/fb1 mplayer -loop 0 -vo sdl ","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":676.4000244140625,"y":192,"wires":[["fc5f333f.78173"],[],[]]},{"id":"6f5a56d5.dc8d38","type":"function","z":"45315c0c.cfcdb4","name":"0DlM6El.mp4","func":"msg.payload = \"/home/pi/DEV/fails/0DlM6El.mp4\";\nreturn msg;","outputs":1,"noerr":0,"x":286.6999969482422,"y":134.8000030517578,"wires":[["fc77f2d4.dea68"]]},{"id":"8360d626.b31a08","type":"inject","z":"45315c0c.cfcdb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.40000915527344,"y":66,"wires":[["6f5a56d5.dc8d38"]]},{"id":"9d546af9.fa2328","type":"function","z":"45315c0c.cfcdb4","name":"h0xWVtS.mp4","func":"msg.payload = \"/home/pi/DEV/fails/h0xWVtS.mp4\";\nreturn msg;","outputs":1,"noerr":0,"x":282.3999938964844,"y":194,"wires":[["fc77f2d4.dea68"]]},{"id":"f283c670.3c7be8","type":"inject","z":"45315c0c.cfcdb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122.39999389648438,"y":162,"wires":[["9d546af9.fa2328"]]},{"id":"fc5f333f.78173","type":"debug","z":"45315c0c.cfcdb4","name":"","active":true,"console":"false","complete":"false","x":1012.4000244140625,"y":123,"wires":[]},{"id":"118ab214.cee8de","type":"inject","z":"45315c0c.cfcdb4","name":"Kill MPLAYER","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.39999389648438,"y":462.00001525878906,"wires":[["f8131a3c.ffd0f8"]]},{"id":"f8131a3c.ffd0f8","type":"exec","z":"45315c0c.cfcdb4","command":"sudo pkill mplayer","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":305.89996337890625,"y":433.5,"wires":[[],[],[]]}]