GifPlayerRPI3/mplayer.json
[{"id":"b0f9650b.0c6008","type":"inject","z":"ab956d4.2e8819","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":68,"y":340.80003356933594,"wires":[["9407a9e7.cd7788"]]},{"id":"9407a9e7.cd7788","type":"exec","z":"ab956d4.2e8819","command":"sudo SDL_VIDEODRIVER=fbcon SDL_FBDEV=/dev/fb1 mplayer -loop 0 -vo sdl /home/pi/DEV/fails/0DlM6El.mp4","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":526.4999694824219,"y":312.3000183105469,"wires":[["38f7fe99.f82ea2"],[],[]]},{"id":"38f7fe99.f82ea2","type":"debug","z":"ab956d4.2e8819","name":"","active":true,"console":"false","complete":"false","x":919.5000457763672,"y":371.00001525878906,"wires":[]},{"id":"13c1706e.52813","type":"exec","z":"ab956d4.2e8819","command":"sudo SDL_VIDEODRIVER=fbcon SDL_FBDEV=/dev/fb1 mplayer -loop 0 -vo sdl ","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":638.2000274658203,"y":218.1999969482422,"wires":[["f402b7e2.949898"],[],[]]},{"id":"31218565.e3b9ca","type":"function","z":"ab956d4.2e8819","name":"0DlM6El.mp4","func":"msg.payload = \"/home/pi/DEV/fails/0DlM6El.mp4\";\nreturn msg;","outputs":1,"noerr":0,"x":248.5,"y":161,"wires":[["13c1706e.52813"]]},{"id":"24c97b1.aa6b884","type":"inject","z":"ab956d4.2e8819","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119.20001220703125,"y":92.19999694824219,"wires":[["31218565.e3b9ca"]]},{"id":"f37ac5c1.e95418","type":"function","z":"ab956d4.2e8819","name":"h0xWVtS.mp4","func":"msg.payload = \"/home/pi/DEV/fails/h0xWVtS.mp4\";\nreturn msg;","outputs":1,"noerr":0,"x":244.1999969482422,"y":220.1999969482422,"wires":[["13c1706e.52813"]]},{"id":"faaccfee.08da","type":"inject","z":"ab956d4.2e8819","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":84.19999694824219,"y":188.1999969482422,"wires":[["f37ac5c1.e95418"]]},{"id":"f402b7e2.949898","type":"debug","z":"ab956d4.2e8819","name":"","active":true,"console":"false","complete":"false","x":974.2000274658203,"y":149.1999969482422,"wires":[]},{"id":"57a63859.742a98","type":"inject","z":"ab956d4.2e8819","name":"Kill MPLAYER","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119.19999694824219,"y":488.20001220703125,"wires":[["ad533cde.18c4b"]]},{"id":"ad533cde.18c4b","type":"exec","z":"ab956d4.2e8819","command":"sudo pkill mplayer","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":267.69996643066406,"y":459.6999969482422,"wires":[[],[],[]]}]